body{
    font-size: 14px;
    color: #333;
    background-color: #fff;
    letter-spacing: 1px;
}

.overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 3;
	background-color: rgba(0, 0, 0, 0.4);
}

.slides-navigation {
	z-index: 6;
}

.slides-navigation .prev,
.slides-navigation .next {
	width: 47px;
	height: 47px;
	background-size: cover;
	background-repeat: no-repeat;
}

.slides-navigation a.prev {
	left: 20px;
	background-image: url(../img/icons/prev.png);
}

.slides-navigation a.next {
	right: 20px;
	background-image: url(../img/icons/next.png);
}

.titleMessage {
	position: absolute;
    width: 100%;
    height: 250px;
    top: 50%;
    z-index: 5;
    text-align: center;
    margin-top: -125px;
}

.titleMessage .heading p {
	color: #fff;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
    font-weight: 100;
    letter-spacing: 7px;
}

.titleMessage .heading .main {
	font-size: 50px;
}

.titleMessage .heading .sub {
	font-size: 23px;
}

.section{
	padding: 100px 0;
}

.aboutImage{
	max-width: 100%;
}

.skillsSection{
	background-color: #636e72;
	color: #fff
}

.skill{
	text-align: center;
	margin-left: 10px;
}

.chart{
	position: relative;
	width : 152px;
	height: 152px;
	display: inline-block;
	text-align: center;
}

.chart canvas{
	position: absolute;
    left: 0;
    top: 0;
}

.chart .percent{
	color: black;
    line-height: 152px;
    display: inline-block;
    font-size: 35px;
}

.chart .percent:after{
	content: '%';
}

a{
	color: #fcbc1d;
}
  
a:hover {
	color: #fbab25;
	*text-decoration: none;
}

.text-secondary {
	color: #fcbc1d !important;
  }

.bg-primary {
	background-color: #2988bc !important;
  }

.content-section {
	padding-top: 7.5rem;
	padding-bottom: 7.5rem;
}


.content-section-heading h2 {
	font-size: 3rem;
}
  
.content-section-heading h3 {
	font-size: 1rem;
	text-transform: uppercase;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

.text-faded {
	color: rgba(255, 255, 255, 0.7);
}

.service-icon {
	background-color: #fff;
	color: #2988bc;
	height: 7rem;
	width: 7rem;
	display: block;
	line-height: 7.5rem;
	font-size: 2.25rem;
	box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
  }
  
  
